.contact-form { 
  width: 40%; 
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-form label {
  margin-top: 15px;
  margin-right: 20px;
  font-weight: bold
}

.contact-form input[type="button"] {
  width: 15vw;
  background-color: #f16a54;
  color: white;
}